@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,700i');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

section {
    width: 100%;
    min-height: 100vh;
    background: cornflowerblue;
    position: relative;

    header {
        margin: 0;
        padding-top: 50px;
        text-align: center;

        h1 {
            margin: 0px;
            padding: 20px 0px;
            font-size: 2em;
            color: #2a3132;
            font-weight: 600;
             letter-spacing: 2px;
        }
    }
    .get_key_separate{
    .row {
        margin: 0px 0px 20px 0px;

        button {
            margin-top: 15px;
        }
     
        .to_ascii, .from_ascii {
            border: 1px solid grey;
            box-shadow: 2px 2px 6px darkslategrey;
            margin-top: 20px;
            background: coral;
            input{
                width: 150px;
                text-align: center;
                border-radius: 5px;
            }
            .col-6 {
                small {
                    text-decoration: underline;
                    font-weight: 600;
                    letter-spacing: 2px;
                }

            }
            p {
                color: grey;
                font-size: 28px;
            }
            }
        }
    }

    .multi_line_text{
        label{
            font-weight: 600;
            font-size: 1.6rem;
        }
        textarea{
            width: 100%;
            font-size: 1.6em;
            letter-spacing: 1px;
            padding: 5px 10px;
            text-decoration: underline;
            text-decoration-color: rgba(128,128,128, 0.2);
        }
    }
}