@import url("https://fonts.googleapis.com/css?family=Lato:300i,400,700i");
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

section {
  width: 100%;
  min-height: 100vh;
  background: cornflowerblue;
  position: relative;
}

section header {
  margin: 0;
  padding-top: 50px;
  text-align: center;
}

section header h1 {
  margin: 0px;
  padding: 20px 0px;
  font-size: 2em;
  color: #2a3132;
  font-weight: 600;
  letter-spacing: 2px;
}

section .get_key_separate .row {
  margin: 0px 0px 20px 0px;
}

section .get_key_separate .row button {
  margin-top: 15px;
}

section .get_key_separate .row .to_ascii, section .get_key_separate .row .from_ascii {
  border: 1px solid grey;
  -webkit-box-shadow: 2px 2px 6px darkslategrey;
          box-shadow: 2px 2px 6px darkslategrey;
  margin-top: 20px;
  background: coral;
}

section .get_key_separate .row .to_ascii input, section .get_key_separate .row .from_ascii input {
  width: 150px;
  text-align: center;
  border-radius: 5px;
}

section .get_key_separate .row .to_ascii .col-6 small, section .get_key_separate .row .from_ascii .col-6 small {
  text-decoration: underline;
  font-weight: 600;
  letter-spacing: 2px;
}

section .get_key_separate .row .to_ascii p, section .get_key_separate .row .from_ascii p {
  color: grey;
  font-size: 28px;
}

section .multi_line_text label {
  font-weight: 600;
  font-size: 1.6rem;
}

section .multi_line_text textarea {
  width: 100%;
  font-size: 1.6em;
  letter-spacing: 1px;
  padding: 5px 10px;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(128, 128, 128, 0.2);
          text-decoration-color: rgba(128, 128, 128, 0.2);
}
/*# sourceMappingURL=style.css.map */